$c1: rgb(0, 60, 0);
$c2: green;
$ff1: 'Roboto', sans-serif;

.titleimg {
    height: 150px;
    width: 350px;
    display: block;
    margin: 0 auto;
}

body {
    background-color: $c1;
}

h1, h2, h3, p {
    font-family: $ff1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.briefing {
    direction: rtl;
    overflow: hidden; 
    border-right: 2px solid white; 
    white-space: nowrap; 
    margin: 0 auto; 
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
}

nav {
    background-color: $c2;
}

.navibar {
    display: flex;
    justify-content: left;
    align-items: center;
}

.navibar a {
    margin: 0 1px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $c2;
    font-family: $ff1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: white;
    background-color: $c2;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: white;
    color: $c2;
}

h1, h2, h3 {
    color: white;
    font-size: 30px;
}

p {
    color: white;
    font-size: 20px;
}

li {
    display: inline;
}

li a {
    padding: 10px 10px;
}

video {
    display: block;
    margin: 0 auto;
}

.universeboard {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1%;
    margin-bottom: 3%;
    place-items: center;
    justify-content: space-between;
}

.minorboard {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

.GDIbox, .Nodbox, .Scrinbox, .Forgottenbox, .CABALbox {
    height: 300px;
    width: 300px;
    border: 10px solid;
    border-radius: 50px;
    overflow: hidden;
}

.GDIbox {
    border-color: gold;
}

.Nodbox {
    border-color: crimson;
}

.Scrinbox {
    border-color: purple;
}

.Forgottenbox {
    border-color: green;
}

.CABALbox {
    border-color: blue;
}

.GDIbox img, .Nodbox img, .Scrinbox img, .Forgottenbox img, .CABALbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

@media (max-width: 1024px) {
    h1 {
        font-size: 24px;
    }
    p {
        font-size: 18px;
    }
    li a {
        padding: 8px;
    }

    .titleimg {
        width: 50%;
        height: 100%;
    }

    video {
        display: block;
        margin: 0 auto;
    }
    .universeboard {
        grid-template-columns: repeat(2, 1fr);
    }
    .GDIbox, .Nodbox img, .CABALbox {
        margin-bottom: 20px;
    }
    .Scrinbox, .Forgottenbox {
        grid-column: 1 / -1;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .titleimg {
        width: 50%;
    }
    h1 {
        font-size: 20px;
    }
    p {
        font-size: 16px;
    }
    li a {
        padding: 6px;
    }

    video {
        display: block;
        margin: 0 auto;
    }

    .universeboard .minorboard{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .GDIbox, .Nodbox, .Scrinbox, .Forgottenbox, .CABALbox {
        height: 200px;
        width: 200px;
        border-width: 8px;
        border-radius: 150%;
        margin-bottom: 20px;
        a{
            width: 100%;
            height: 100%
            
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 100%;
            }
        }
    }
}